body {
  background: #FFFFFF;
  overflow: hidden;
}

div {
  background: #424242;
  border:solid 1px;
  height: 100px;
  transition: background 300ms;
  width: 100px;
}

div:hover {
  background: #fff;
  cursor: move;
  cursor: -webkit-grab;
}

div:active {
  background: limegreen;
  cursor: move;
  cursor: -webkit-grabbing;
  transition-duration: 100ms;
}
body {
  background: #111;
  overflow: hidden;
  text-align: center;
}

p{
  color: black;
  font-size: 100pt;
  font-family: "Proxima Nova";
}

div {
  background: url("../Calque 1.png");
  background-size: contain;
  border-radius: 100%;
  height: 100px;
  transition: background 300ms;
  width: 100px;
}

div:hover {
  background: url("../Calque 1.png");
  background-size: contain;
  cursor: move;
  cursor: -webkit-grab;
}

div:active {
  /*background: red;*/
  cursor: move;
  cursor: -webkit-grabbing;
  transition-duration: 100ms;
}
h1{
  z-index: -99;
  position: absolute;
}